@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

main {
    margin: 50px 0;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}

.customDetail {

    padding-top: 18px;
    position: relative;
    border-radius: 4px  ;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 768px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    .hrbefore{
        position: relative;
    }
    .hrbefore::before{
        position: absolute;
        content: "";
        border-bottom: 1px solid #ccc;
        width: 269px;
        top: 53px;
        right: 4px;
    }
    .customDetail{
        padding-bottom: 10px;
    }

}